@using Daddato.Lojavirtual.Web.HtmlHelpers
@model Daddato.Lojavirtual.Web.Models.ProdutosViewModel

@Html.PageLinks(Model.Paginacao, x => Url.Action("ListaProdutos", new { pagina = x }));
@foreach (var produto in Model.Produtos)
{
    <div>
        <h3>@produto.Nome</h3>
        @produto.Descricao
        <h3>@produto.Preco</h3>
    </div>
}
@Html.PageLinks(Model.Paginacao, x => Url.Action("ListaProdutos", new { pagina = x }));
